*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* garante que os elementos terão o mesmo tamanho, ideal para 
    trabalhar com responsividade */
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #a04f62;
    height: 10%;
    padding: 10px;
}

h1{
    text-transform: uppercase;
    color: #d2a391;
}

#navegador{
    font-size: large;
    padding: 20px;
    text-decoration: none;
    color: #d2a391;
}

main{
    min-height: 87vh;
    background-color: #e6d7b8;
}

.primeira_classe{
    display: flex;
    justify-content: center;
    padding: 10vh;
}

h2{
    color: #570f23;
}

.imagem_primeira_classe{
    width: 20%;
    border-radius: 5%;
}

.primeira_classe_container{
   padding: 10px;
}

.primeira_classe_paragrafo{
    width: 30vh;
    text-align: justify;
    color: #570f23;
}

.segunda_classe{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.segunda_classe_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.segunda_classe_titulo{
    border-bottom: #570f23 solid 1px;
    padding: 2px;
    color: #570f23;
}

.texto_segunda_classe{
    border: #570f23 solid 1px;
    width: 20vw;
     height: 15vh;
    
}

.titulo_texto_segunda_classe{
    text-align: center;
    padding: 10px;
    color: #570f23;
}

.itens_texto_segunda_classe{
    list-style: none;
    margin: 5px;
}

#itens{
    padding: 2px;
    color: #570f23;
}

footer{
    background-color: #a04f62;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    color: #d2a391;
}